@media (max-width: 768px) {
  .container {
    width: 98%;
    padding: 0 10px;
  }

  .navbar {
    gap: 10px;
  }

  .nav-right ul {
    display: none;
  }

  .cart {
    display: flex;
  }

  .hero {
    flex-direction: column-reverse;
    align-items: start;
    gap: 40px;
    text-align: start;
  }

  .hero-heading {
    font-size: 42px;
    width: 50%;
  }

  .hero-content p {
    font-size: 18px;
  }
  .plants-heading,
  .lastest-heading,
  .plant-lover-title {
    width: 100%;
    font-size: 36px;
  }

  .plants-heading .title,
  .lastest-heading .title {
    font-size: 36px;
  }

  .plants-heading .subtitle,
  .lastest-heading .subtitle {
    font-size: 18px;
  }

  .plants-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .plant-lover {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .plant-right {
    margin-top: 0;
    text-align: center;
  }
  .plant-lover-title {
    text-align: left;
  }
  .plant-right ul {
    text-align: left;
    padding: 0 20px;
  }
  .plant-right ul li {
    font-size: 18px;
  }
  .trusted-badge {
    display: none;
  }
  .latest-content-wrapper {
    flex-direction: column;
  }

  .left-column {
    width: 100%;
  }
}
